.main-logo img {
  height: 50px;
  width: 100%;
  padding-top: 15%;
  padding-left: 17%;
}
.softwares img {
  height: 40px;
}
.softwares {
  display: flex;
  gap: 0.9%;
  justify-content: center;
  align-items: end;
  height: 60px;
  width: 100%;
}
.softwares img:active {
  color: #d0e5e9;
  background-color: #d0e5e9;
}
body {
  font-family: ubuntu, sans-serif;
}
.image {
  background-image: url("image12.jpeg");
  height: 1020px;
  width: 100%;
}
.navbar {
  height: 90px;
  position: fixed;
  background-color: rgb(243, 240, 240);
  width: 100%;
  display: flex;
  z-index: 999;
}
* {
  margin: 0;
  padding: 0;
}
.page1 {
  height: 85%;
  width: 80%;
}
.page1 .art {
  display: flex;
  height: 35%;
  width: 30%;
  align-items: end;
  justify-content: center;
}
.page1 .school {
  display: flex;
  height: 78%;
  width: 78%;
  color: white;
  font-size: 5.8vw;
  align-items: end;
  justify-content: end;
}
.art h1 {
  font-size: 4.5vw;
  color: white;
  position: absolute;
  margin-left: 15%;
}
.image {
  background-position: 30% 23%;
}
.art-school {
  height: 680px;
  background-color: #7da2a9;
  text-align: center;
  display: flex;
  gap: 3%;
}
.childh1 {
  text-align: end;
  font-size: 20px;
  align-items: center;
  width: 50%;
  padding-top: 10%;
  color: white;
}
.childpara1 {
  padding-top: 10%;
  width: 33%;

  word-wrap: wrap;
  color: white;
  text-align: start;
  font-size: 22px;
  line-height: 35px;
}
.childh3 {
  height: 90px;
  color: black;
  padding-top: 30px;
  font-size: 22px;
}

.white-page {
  background-color: blue;
  height: 1380px;
}

.main3-center {
  text-align: center;
  padding-top: 9.7%;
}
.page3-parac {
  height: 100px;
  width: 42%;
  font-size: 22px;

  padding-top: 1.3%;
  margin-left: 30.2%;
  font-weight: 100px;
  line-height: 35px;
}
.box-all {
  display: flex;

  gap: 90px;
  justify-content: end;

  flex-wrap: wrap;
  height: 750px;
  width: 85%;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  height: 300px;
}
.box1 img,
.box2 img,
.box3 img,
.box4 img,
.box5 img,
.box6 img {
  height: 90px;
  width: 27%;
}
.box1 {
  width: 25%;

  margin-left: 7%;
}
.box1-h2 {
  padding-top: 2%;
  width: 100%;
}
.box1-left {
  width: 100%;
  padding-left: 9%;
}
.box1-para {
  padding-top: 6%;
  font-size: 22px;
  line-height: 35px;
}
.box2 {
  width: 25%;
}
.box3,
.box4 {
  width: 25%;
}
.box5 {
  width: 22.7%;
}
.box6 {
  width: 25%;
}
.page4 {
  display: flex;
  gap: 2.7%;
  height: 850px;
  background-color: rgb(31, 31, 31);
}
.book-img {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 50%;
  height: 750px;
}
.book-img img {
  height: 620px;
  width: 75%;
}
.page4-text {
  color: white;
  height: 400px;
  width: 33%;
  padding-top: 15%;
}
.page4-para {
  font-size: 22px;
  padding-top: 4%;
  line-height: 33px;
}
.read-button button {
  height: 65px;
  background-color: #7da2a9;
  width: 30%;
  margin-top: 10%;
  text-align: center;
  font-size: 22px;
  color: white;
} 
.page5-head{
  height: 200px;
  width: 100%;
padding-top: 6%;
text-align: center;
}
.page5-para{
  width: 38%;
  border: 2px solid red;
  margin-left: 32%;
  padding-top: 2%;
}
.page5-images{
  height: 1500px;
  border: 2px solid red;
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2,1fr) ;
  grid-template-rows: repeat(3,1fr);
  /* justify-items: end; */
  grid-gap: 2%;
}
.page5-img1 img{
  height: 450px;
  width: 100%;
  /* margin-left: 50%; */
}
/* .page5-img2 img{
  height: 450px;
  width: 60%;
}
.page5-img3 img{
  height: 450px;
  width: 60%;
}
.page5-img4 img{
  height: 450px;
  width: 60%;
}
.page5-img5 img{
  height: 450px;
  width: 60%;
}
.page5-img6 img{
  height: 450px;
  width: 60%;
  border: 2px solid red; */
/* } */
/* .page5 {
  padding-top: 110px;
  height: 2030px;
  background-color: white;
  text-align: center;
}
.page5-head {
  width: 100%;

  text-align: center;
  justify-content: center;
}
.page5-para {
  width: 40%;
  text-align: center;

  margin-left: 30%;
  padding-top: 1.3%;
  font-size: 22.5px;
  line-height: 32px;
} */
/* .page5-images {
  height: 1608px;
  width: 80%;
  margin-left: 400px;
  display: flex;
  column-gap: 1.7%;
  border: 2px solid red;
  flex-wrap: wrap;
  margin-top: 100px;
  text-align: end;
  justify-content: end;
}
.page5-img1 img {
  height: 510px;
  padding-top: 1%;
  width: 587px;
  border: 2px solid blaxk;
}  */
/* .row1 {
  height: 500px;
  width: 80%;
  border: 2px solid red;
  display: flex;
}
.row1 img {
  height: 500px;
  width: 50%;
  border: 2px solid red;
}
.page5-img1 img {
  height: 500px;
  width: 55%;
  border: 2px solid red;
}
.page5-img2 img {
  height: 500px;
  width: 90%;
  border: 2px solid red;
} */
/* .row2 {
  height: 500px;
  width: 80%;
  border: 2px solid red;
  display: flex;
  justify-content: end;
}
.row2 img {
  height: 500px;
  width: 90%;
  border: 2px solid red;
}
.page5-img3 {
  height: 500px;
  width: 37%;
  border: 2px solid red;
}
.page5-img4 {
  height: 500px;
  width: 38%;
}
.row3 {
  height: 500px;
  width: 80%;
  border: 2px solid red;
  display: flex;
  justify-content: end;
}
.page5-img5 img {
  height: 500px;
  width: 60%;
  border: 2px solid red;
}
.page5-img6 img {
  height: 500px;
  width: 100%;
  border: 2px solid red;
} */

.page6 {
  height: 450px;
  width: 100%;
  background-color: #7da2a9;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.page6-half1,
.page6-half2 {
  width: 50%;
  height: 450px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.page6-text1,
.page6-text2,
.page6-text3,
.page6-text4 {
  line-height: 60px;
}

.page7 {
  height: 660px;
  width: 100%;
  display: flex;
}
.page7-img {
  width: 33%;
  float: left;
}
.page7-img img {
  height: 670px;
  width: 100%;
}

.page8 {
  display: flex;
  height: 880px;
}
.page8-half1 {
  height: 880px;
  background-color: #7da2a9;
  width: 50%;
  color: white;
}
.page8-half2 {
  height: 880px;
  background-color: black;
  width: 50%;
}
.page8-parat {
  width: 100%;
  padding-top: 20%;
  padding-left: 12%;
}
.timing-para {
  height: 90px;
  width: 80%;
  font-size: 22.5px;
  padding-top: 2.5%;
  line-height: 34px;
}
.address-para {
  padding-top: 3%;
  height: 60px;
  width: 25%;
  font-size: 22.8px;
  line-height: 34px;
}

.page8-logo,
.logo1 SVG {
  display: flex;
  height: 40px;
  width: 78%;
  padding-top: 15%;
  gap: 1.6%;
  color: white !important;
}

.page8-half2 input,
.page8-half2 textarea,
.page8-half2 button {
  height: 63px;
  width: 65%;
  margin-left: 15%;
  margin-top: 16px;
  background-color: transparent;
  border: 2px solid white;
  color: grey;
  font-size: 22px;
  padding-left: 10px;
}
.inputs input {
  margin-top: 23%;
}
.page8-half2 button {
  height: 65px;
  width: 15%;
  padding-left: 0px;
  background-color: #d0e5e9;
  color: black;
  border: black;
}
.page8-half2 textarea {
  height: 160px;
  padding-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
}
.page8-half2 button:hover {
  color: white;
}
.page9 {
  height: 120px;
  background-color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18.7px;
}
.page9 a {
  color: #7da2a9;
}
.para1 {
  color: white;
}
