.main-logo img {
    height: 50px;
    width: 100%;
    padding-top: 15%;
    padding-left: 17%;
  }
  .softwares img {
    height: 40px;
  }
  .softwares {
    display: flex;
    gap: 0.9%;
    justify-content: center;
    align-items: end;
    height: 60px;
    width: 100%;
  }
  .softwares img:active {
    color: #d0e5e9;
    background-color: #d0e5e9;
  }
  body {
    font-family: ubuntu, sans-serif;
  }
  .image {
    background-image: url("image12.jpeg");
    height: 1100px;
    width: 100%;
  }
  .navbar {
    height: 90px;
    position: fixed;
    background-color: rgb(243, 240, 240);
    width: 100%;
    display: flex;
    z-index: 999;
  }
  * {
    margin: 0;
    padding: 0;
  }.image{
    background-position: 30% 23%;
  }
  .page1{
   
    height: 100%;
    /* margin-top: 5%; */
    margin-left: 15%;
    width: 52%;
     border: 2px solid red;
  }