.navbar{
    height: 85px;
    width: 100%;
    background-color: rgb(235, 232, 232);
    display: flex;
    /* position: sticky; */
}
*{
    margin:0;
    padding: 0;
}
.nav-logo img{
    height:60.5%;
    width: 8.5%;
    position: absolute;
    padding-top: 1.3%;
    padding-left: 0.7%;
}
.nav-modes{
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7%;
}
.nav-modes img{
    height: 40px;
    width: 100%;
}
.nav-modes img:hover{
    background-color: #d0e5e9;
}
.mode1 img:active{
    color: #d0e5e9;
    background-color: #b0d8e0;
}
  .page1{
    height: 120px;
 padding-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5%;
  }   
  .page1 a{
    text-decoration: none;
    color: black;
    font-size: 25px;
  } 
  .page1 a:hover{
    color: red;
  }
  .page2-web{
     height: 500px;
     width: 45%;
     margin: auto;
    border: 20px solid blue;
     padding-top: 5%;
  }
  .page2{
    height: 820px;
    width: 100%;
    background-image: url("page2bg.jpeg");
    background-size: cover;
    background-position: 40% 50%;
    opacity: 0.8;
    display: flex;
  }
  .page2-text{
    height: 50%;
    text-align: center;
    color: white;
    padding-top: 3%;
     font-size: 35px;
  }

.page2-para{
  padding-top: 2%;
  font-size: 27px;
  text-align: center;
  padding-left: 7%;
  width: 85%;
  line-height: 40px;
}
.button1 button{
  height: 60px;
  width: 200px;
 margin-top: 5%;
 font-size: 21px;
 color: white;
 border: transparent;
  background-color: rgb(83, 83, 248);
}


.page3{
  height: 1050px;
  display: flex;
  width: 100%;
}
.half1-para{
  width: 58%;
  line-height: 50px;
}

.half1-para p{
  padding-top: 5%;
font-size: 24px;
   
}
.half1-paras2 p{
  font-weight: 700;
}

.page3-half1-half{
  width: 50%;
  height: 1050px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.page3-half2{
  width: 50%;
  height: 1050px;
  /* background-color: red; */
}

.page3-half2-paras{
  width: 70%;
  display: flex;
  padding-top: 10%;
}
/* .page3-half2-paras{
  
  /* line-height: 40px; */
/* } */ 

.page3-half2-paras-head{
  font-size: 32px;
  font-weight: 100;

}
.page3-half2-paras-para {
  font-size: 23px;
  padding-top: 4%;
  line-height: 35px;
}
.half2-page-para{
  padding-left: 5%;
}

.page4-img{
  height: 600px;
  width: 100%;
  background-image: url("page4.jpg");
  background-position: 100% 50%;
  background-size: cover;
}
.page4-cards{
  /* height: ; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
/* margin: auto; */
 gap:30px
}
.paga4-para1-3{
  height: 360px;
  width: 23%;
  position: relative;
  /* background-color: red; */
  text-align: center;
  background-color: white;
  padding-top: 3%;
}

.inside-div{
  position: absolute; 
   bottom: 0px; 
   width: 100%
}
.page4-head{
  padding-top:7% ;
  font-size: 27px;
}
.page4-para2{
  font-size: 22px;
  width: 100%;
  text-align: center;
  line-height: 35px;
  color: grey;

}
 .page4-para2 p{
  padding: 0 1rem;
 }
.page5{
  height: 800px;
  width: 100%;
  display: flex;
  background-color: rgb(225, 224, 224);
}
.page5-half1{
  height: 800px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 10%; */
  /* background-color: grey; */
}
.page5-para{
  width: 67%;
  padding-left: 20%;
  
}
.page5-button button{
 height: 58px;
 width: 180px;
 margin-top: 5%;
 font-size: 22px;
}
.page5-para2 p{
  padding-top: 2%;
  font-size: 23px;
  color: grey;
  line-height: 35px;
}
.page5-head{
  font-size: 48px;
}
.page5-half2{
  height: 800px;
  width: 50%;
}
.page5-img img{
  height: 700px;
  width: 100%;
  padding-top: 15%;
}


.page6{
  height: 900px;
  width: 100%;
display: flex;
gap:60px
}
.page6-half1{
  width: 50%;
  height: 900px;
  display: flex;
  justify-content:end;
  align-items: end;
}
.page6-half1 img{
  height: 800px;
}
.page6-half2{
  width: 50%;
  height: 900px;
  padding-top: 4%;
}
.page6-heading-blue{
  height: 70px;
  width: 61%;
  background-color: rgba(0, 0, 255, 0.77);
  font-size: 30px;
  color: white;
  padding-top:5%;
  padding-left: 3%;
}
/* .headings-padding{
  padding-top: 20%;
} */
.page6-head1 {
  padding-top: 4%;
}
.page6-para1{
  padding-top: 3%;
  font-size: 23px;
  width: 65%;
  line-height: 37px;
}
.page6-heading-blue2{
  margin-top: 4%;
}

.page7{
  height: 650px;
  width: 100%;
  background-color: rgb(225, 223, 223);
  display: flex;
  justify-content: center;
  align-items: center;
}
.page7-main-write{
  height: 450px;
  width:80%;
  display: flex;
  background-color: white;
 
}
.page7-img2 img{
  height: 320px;
  border-radius: 50%;
  width: 100%;
  padding-top: 10%;
}
.page7-img1 img{
  position: absolute;
  padding-top: 2%;
  padding-left: 1%;
}
.page7-call{
  display: flex;
  padding-top: 4%;
}
.page7-sidepara{
  padding-top: 5%;
  font-size: 30px;
  /* padding-left: -20%; */
}
.page7-para1{
  font-size: 37px;
  width: 90%;
}
.page7-para2{
  padding-top: 4%;
  font-size: 25px;
}
.page8{
  height: 290px;
  background-color: rgba(0, 0, 0, 0.751);
  text-align: center;
}
.page8-para1{
  font-size: 21px;
  padding-top: 3%;
  color: white;
  text-align: center;
}
.page8-para2 p{
  padding-top: 6%;
  color: skyblue;
  font-size: 21px;
  display: flex;

}
